{% extends 'base/base.html' %}

{% block title %}{% endblock %}


{% block content %}

    {% include 'base/navbar.html' %}
    <h2>Reported Sightings</h2>
    <br>
    <div>
        {% for sighting in sightings %}
            <div class="flex-wrapper flex-around flex-center">
                <div>
                    <h3>{{ sighting.location }} - {{ sighting.convert_date_of_sighting() }}</h3>
                    <h3>Reported by: {{ sighting.user.print_full_name() }}</h3>
                </div>
                <div>
                    {% if session.user_id == sighting.user.id %}
                        <button><a href="/edit/{{sighting.id}}">Edit</a></button>
                        <button><a href="/delete/{{sighting.id}}">Delete</a></button>
                    {% else %}
                        <button><a href="/show/{{sighting.id}}">View</a></button>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}