{% extends 'base/base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

    <h2>{{user.first_name}} {{user.last_name}}</h2>

    <div class="flex-wrapper flex-evenly">
        <div class="col">
            <img src="{{user.user_img}}" alt="">
        </div>
        <div class="col">
            <h3>Ryder Information</h3>
            <p>First Name: {{ user.first_name }}</p>
            <p>last Name: {{ user.last_name }}</p>
            <p>Userame: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Date Joined: {{ user.created_at.strftime('%B %d, %y') }}</p>
            <br>
            {% if session.user_id == user.id %}
                <button><a href="#">Update Profile</a></button>
                <button><a href="#">Delete Account</a></button>
            {% endif %}
        </div>
        <div class="col">
            <h3>Ryders Garage</h3>
            {% if session.user_id == user.id %}
                <button><a href="/create_bike">Add Motorcycle</a></button>
            {% endif %}
        </div>
    </div>

{% endblock %}