{% extends 'base/base.html' %}

{% block title %}All Users{% endblock %}

{% block content %}

    <div class="flex-wrapper">
        
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Bikes</th>
                <th>Join Date</th>
                <th>User Link</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{user.get_number_of_bikes()}}</td>
                    <td>{{ user.created_at.strftime('%B %d, %y') }}</td>
                    <td><a href="/users/{{user.id}}">View User</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}