{% extends 'base_templates/base.html' %}

{% block title %}All Authors{% endblock %}

{% block content %}
    <div class="flex-wrapper">
        <div class="col">
            <h2>New Author</h2>
            <form class="flex-wrapper" action="/authors" method="POST">
                <label>
                    First Name:
                    <input type="text" name="first_name">
                </label>
                <label>
                    Last Name:
                    <input type="text" name="last_name">
                </label>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="col">
            <h2>All Author</h2>
            <table>
                {% for author in authors %}
                <tr>
                    <td>
                        <a href="/authors/{{author.id}}">{{author.first_name}} {{author.last_name}}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}