{% extends "base_templates/base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
    <div class="flex-wrapper">
        <div class="col">
            <h2>New User</h2>
            <form class="flex-wrapper" action="/users" method="POST">
                <label>
                    First Name:
                    <input type="text" name="first_name">
                </label>
                <label>
                    Last Name:
                    <input type="text" name="last_name">
                </label>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="col">
            <h2>All Users</h2>
            <table>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}