/* CSS RESEET */
*{
    vertical-align: baseline;
    font-weight: inherit;
    font-family: 'Delius', cursive;
    font-weight: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: #caf0f8;
}

a:hover{
    cursor: pointer;
}



/* Setting Flex */
#live-scores, #live-scores > div, nav *, main,
#aside, header, #current-score, .col-1{
    display: flex;
}



/* Live Scores - Top */
#live-scores{
    padding: 20px 0px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

#live-scores h2{
    font-size: 2.2vw;
    font-weight: 400;
    flex: 1;
}

#live-scores > div{
    font-size: 1.2vw;
    justify-content: space-between;
    flex: 5;
}



/* NavBar */
nav{
    background-color: #0077b6;
}

#nav-block{
    width: 80%;
    margin: 0 auto;
    color: white;
}

nav h1{
    background-color: #03045e;
    font-size: 2.7vw;
    font-weight: 900;
    transform: skewX(-15deg);
    padding: 1px 1.5%;
    flex: .7;
}

#nav-links{
    font-size: 1.4vw;
    align-items: center;
    flex: 7;
}

#nav-links a{
    color: white;
    text-decoration: none;
}

#nav-links a:visited{
    color: white;
}

#nav-links ul, #menus ul{
    width: 100%;
    justify-content: space-evenly;
}

#menus{
    align-items: center;
    flex: 1.2;
}

.menu-img{
    width: 2vw;
}



/* Main Section */
main{
    background-color: #dddddd;
    height: 80vh;
    padding: 40px 10%;
    gap: 3%;
}

button{
    background-color: white;
    padding: 5px 5%;
    font-size: 1.5vw;
    font-weight: 300;
    border: 1px solid black;
    box-shadow: 1px 3px black;
}

button:hover{
    cursor: pointer;
    position: relative;
    top: 2px;
    box-shadow: 1px 1px black;
}

/* Left side */
#aside{
    flex-direction: column;
    flex: 2;
}

#aside div{
    background-color: white;
    margin-bottom: 30px;
    padding: 5%;
    border-radius: 15px;
}

/* Top Stories */
#top-stories h3{
    width: 90%;
    margin-bottom: 7px;
    padding-bottom: 7px;
    font-size: 2vw;
    font-weight: 400;
    border-bottom: 2px solid black;
}

#top-stories ul li{
    list-style: none;
    font-size: 1.6vw;
}

/* Customize */
#customize, #subscribe{
    text-align: center;
}

#aside h4{
    font-size: 1.8vw;
    margin-bottom: 20px;
}

#signin{
    color: white;
    background-color: #0077b6;
}

#subscribe-btn{
    padding: 5px 18%;
    background-color: #90e0ef;
}


/* Right Side */
#main-content{
    background-color: white;
    flex: 5;
    height: fit-content;
}

/* Header */
header{
    margin: 2% 0;
    font-size: 2.9vw;
    align-items: center;
    justify-content: center;
}

#circle{
    height: 1.8vw;
    width: 1.8vw;
    background-color: red;
    border-radius: 50%;
}

#live{
    color: red;
    margin-left: .5vw;
}

#leader{
    margin-left: .7vw;
}

/* Score Board */
#current-score{
    border-bottom: 2px solid black;
    margin: 0 5% 2%;
}

.col-1{
    flex: 2;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 2.2vw;
}

.col-1{
    text-align: center;
}

.col-2{
    flex: 3;
    text-align: center;
}

.col-2 *{
    margin-bottom: 10px;
}

.team-img{
    width: 15vw;
}

.home-location{
    font-size: 1.7vw;
    font-weight: 300;
}
.team{
    font-size: 2.2vw;
    font-weight: 500;
}
.win-loss{
    font-size:1.5vw;
}
.col-2 .pirate-score, .col-2 .ninja-score{
    font-size: 4vw;
    font-weight: 700;
}

/* Footer */
footer{
    padding: 0 5% 5%;
    font-size: 1.5vw;
}