* {
  padding: 0;
  margin: 0;
}

#message-box{
  width:60%;
  height:50vh;
  margin:0 auto;
  border:1px solid black;
  overflow:auto;
}

.message{
  padding: 10px;
  width: fit-content;
  border-radius: 15px;
}

.message-out{
  text-align: left;
  background-color: lightgreen;
  margin: 5px 10px;
}

.message-in{
  text-align: right;
  margin: 5px 10px 0px auto;
  background-color: lightblue;
}

.collapse{
  margin-left: 40vw;
}
.navbar-toggler-icon{
  font-size: 3vw;
}