{% extends 'base/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form class="flex-wrapper flex-column" action="/register" method="POST">
        <label>
            First Name:
            <input type="text" name="first_name" value="{{ data.first_name }}">
        </label>
        <label>
            Last Name:
            <input type="text" name="last_name" value="{{ data.last_name }}">
        </label>
        <label>
            Username:
            <input type="text" name="username" value="{{ data.username }}">
        </label>
        <label>
            Email:
            <input type="text" name="email" value="{{ data.email }}">
        </label>
        <label>
            User Image:
            <input type="text" name="user_img" value="{{ data.user_img }}">
        </label>
        <label>
            Password:
            <input type="password" name="password1">
        </label>
        <label>
            Confirm Password:
            <input type="password" name="password2">
        </label>
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}