{% extends 'base/base.html' %}

{% block title %}Edit User{% endblock %}


{% block content %}
    <div class="flex-wrapper flex-evenly">
        <div class="col">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
        <form class="flex-wrapper flex-column" action="/users/{{user.id}}/edit" method="POST">
            <input type="hidden" name="id" value="{{ user.id }}">
            <label>
                First Name:
                <input type="text" name="first_name" value="{{user.first_name}}">
            </label>
            <label>
                Last Name:
                <input type="text" name="last_name" value="{{user.last_name}}">
            </label>
            <label>
                Email:
                <input type="email" name="email" value="{{user.email}}">
            </label>
            <label>
                Username:
                <input type="text" name="username" value="{{user.username}}">
            </label>
            <label>
                Image URL:
                <input type="text" name="user_img" value="{{user.user_img}}">
            </label>
            <input type="submit" value="Update">
        </form>
        </div>
    </div>
{% endblock %}