{% extends "base/base.html" %}

{% block title %}Ryders Club{% endblock %}

{% block content %}

    <br><br>

    <div class="flex-wrapper flex-evenly">
        <div class="col">
            <h2>Welcome to the Ryders Club</h2>
            <br><hr><br>
            <h3>Where Ryders can gather and show</h3>
            <h3>off all thier rides!</h3>
            <br><hr><br>
            <h4>Please feel free to check out everyones</h4>
            <h4>rides and share your own</h4>
        </div>
    </div>

{% endblock %}